
example-scala-build/.project
example-scala-build/project/target
example-scala-build/target

*.cache

*.class

*.classpath

spark-using-java/.project
spark-using-java/.settings

spark-using-scala/.project
spark-using-scala/project/target
spark-using-scala/target
spark-using-scala/.settings

spark-using-scala/.cache-main
